@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 1rem 25rem;
  padding: 1rem;
}

body {
  background-color: #fef3c7;
}

li {
  list-style: none;
}

.list {
  border: 1px solid black;
  margin: 1rem 1rem 1.5rem;
  border-radius: 10px;
}

button {
  text-align: center;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  width: 80px;
  border: 1px solid black;
  border-radius: 5px;
}

span {
  font-weight: bold;
}

.nonBullet {
  padding: 0.5rem;
}

em {
  font-weight: 700px;
}

hr {
  height: 3px;
  background: black;
}
